{% extends 'components/index.html' %}
{% block content %}
<template id="app">
  <div>
    <div class="header">
      <div class="avatar">
        <center>
          <i class="far fa-user"></i>
        </center>
      </div>

      <tt>{{ casinoTitle }}</tt>

      <div class="fichas">

      </div>

      <div class="singup">
          <button type="button" class="btn btn-dark">Login</button>
          <button type="button" class="btn btn-dark">Sign Up</button>
      </div>
    </div>

    <div class="custom-modal" @click=''>
      <div class="content">
       <center>
          <h1>{{ menu.title1 }}</h1>
  
          <!-- <div class="input-group mb-3">
              <input type="text" class="form-control nick" placeholder="Nick" aria-label="Recipient's username" aria-describedby="basic-addon2">
              
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">Name</span>
              </div>
          </div> -->

          <button type="button" class="btn play">Play Now</button>

          <div class="options">
            <b>Modo de juego</b>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Multijugador
              </label>
            </div>
          </div>

          <div class="description">
            <tt>{{ menu.description1 }}</tt>
          </div>
      </center>

      </div>
    </div>

    <div class="custom-modal">
      <div class="content">
        <center>
          <h1>{{ menu.title2 }}</h1>
          
          <button type="button" class="btn play" disabled>Comming Soon</button>

          <div class="options">
            <b>Modo de juego</b>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="poker" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Multijugador
              </label>
            </div>
          </div>

          <div class="description">
            <tt>{{ menu.description2 }}</tt>
          </div>

        </center>
      </div>
    </div>
    
    <div class="custom-modal">
      <div class="content">
        <center>
          <h1>{{ menu.title3 }}</h1>
          
          <button type="button" class="btn play" disabled>Comming Soon</button>

          <div class="options">
            <b>Modo de juego</b>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="poker" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">
                Multijugador
              </label>
            </div>
          </div>

          <div class="description">
            <tt>{{ menu.description3 }}</tt>
          </div>

        </center>
      </div>
    </div>

    <div class="load"></div>
  </div>
  
</template>

<script>
var app = new Vue({
  el: '#app',
  mounted: function(){
    $('.nick').focus()
    
  },
  data: {
    casinoTitle: 'Will you be the winner?',
    description: 'Compite con tus amigos en una intensa batalla por el primer lugar y gana más puntos y experiencia a tu vida con Casino Online',
    subtitle: 'La diversión acaba de comenzar, comienza el juego ahora...',
    goOnline: 'Jugar ahora',
    menu: {
      title1: 'CASINO ONLINE',
      title2: 'POKER ONLINE',
      title3: 'BLACKJACK ONLINE',
      description1: '"Casino" tus amigos y tu competiran por obtener más fichas, estas listo?',
      description2: 'Se el mejor del mundo y gana dinero real en poker texas online',
      description3: 'Juega 21, sabras manejar la presión? !averigualo!',
    }
  },
  methods:{
    effect_modal(){
      
    }
  }
})
</script>
{% endblock %}